<!-- app/views/devise/shared/_error_messages.html.erb -->

<% if resource.errors.any? %>
  <div class="devise-error-messages">
    <h2><%= pluralize(resource.errors.count, "error") %> must be fixed:</h2>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
