html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.login-container h2 {
  color: #5C8DC6;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333333;
}

.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-submit {
  width: 100%;
  background-color: #5C8DC6;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #305989;
}

.devise-links-container {
  text-align: center;
  margin-top: 2rem;
}

.devise-links-container a {
  color: #5C8DC6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.devise-links-container a:hover {
  color: #305989;
}

/* Styles for Devise error messages */

.devise-error-messages {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.devise-error-messages h2 {
  color: #721c24;
}

.field_with_errors {
  display: block;
  margin-bottom: 0.5rem;
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  border-color: #f5c2c7; /* Light red border */
  box-shadow: 0 0 0 0.2rem rgba(245, 194, 199, 0.25);
}

/* Optional: Add animation for the error message box */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.devise-error-messages {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Styles for the back link in the login container */

.login-container .back-link {
  color: #305989;
  display: block;
  font-size: 0.9rem;
  left: 1rem;
  margin-bottom: 1rem;
  position: absolute;
  text-decoration: none;
  top: 1rem;
}

.login-container .back-link:hover {
  text-decoration: underline;
}
